# IDE
*.iml
/.idea

# Build System & Local Stuff
.gradle
/local.properties
/build
/captures
local.properties
.externalNativeBuild
.cxx

# OS Stuffs
.DS_Store

# Generated Resources
**/dynamic/*.kt
**/drawable/character_*
**/drawable/relic_*
**/drawable/ornament_*
**/drawable/light_cone_**
**/values/dynamic-*